<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Reminder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>249E961F1F9C1DCB005BD76C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>249E96361F9C1DCB005BD76C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>249E96411F9C1DCB005BD76C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
